node_modules/
dist/
dist-ssr/
src-tauri/target/
src-tauri/gen/
src-tauri/tauri-updater.key
src-tauri/tauri-updater.password

.tmp-tools/
.vs/
.vscode/*
!.vscode/extensions.json
.idea/

*.local
*.log
*.user
*.suo
.DS_Store
